<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Canteen</title>
    <script src="js/index.js" defer></script>
  </head>
  <body>
    <h2>Speiseplan</h2>
    <input type="date" id="selectDate" min="2022-11-29" max="2022-12-02"/>
    <button id="submit">Submit</button>
    <table>
      <tr>
        <th>Dishes</th>
        <th>Price</th>
        <th>Allergies</th>
      </tr>
      <tr>
        <th>Chicken Noodles Casserole</th>
        <th>4.50€</th>
        <th></th>
      </tr>
      <tr>
        <th>Rice Pudding</th>
        <th>3€</th>
        <th>Lactose</th>
      </tr>
    </table> 
  </body>
</html>