.App {
	text-align: center;
	background-color: #b0e6ff;
	min-height: 100vh;
}

.App-header {
	background-color: #1cb6fc;
	height: 40px;
	text-align: center;
	font-size: 20pt;
}

.App-main-content {
	display: flex;
	justify-content: center;
	padding: 50px;
}